:root {
    --main-bg-color: #f1f2f6;
    --loading-color: #ffa502;
    --min-size: 0;
    --max-size: 20px;
    --loadind-size: calc(var(--max-size) * 3);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--loadind-size);
  height: var(--loadind-size);
  flex-wrap: wrap;
}

.loading .ld-part {
  height: var(--max-size);
  width: var(--max-size);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.ld-part:after {
  content: '';
  background-color: var(--loading-color);
  width: var(--min-size);
  height: var(--min-size);
  position: absolute;
  animation: loading 1s infinite;
}

.loading .ld-part:nth-child(2):after,
.loading .ld-part:nth-child(4):after {
  animation-delay: 0.1s;
}

.loading .ld-part:nth-child(3):after, 
.loading .ld-part:nth-child(5):after,
.loading .ld-part:nth-child(7):after{
  animation-delay: 0.2s;
}

.loading .ld-part:nth-child(6):after,
.loading .ld-part:nth-child(8):after{
  animation-delay: 0.3s;
}

.loading .ld-part:nth-child(9):after {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%, 100% {
    width: var(--min-size);
    height: var(--min-size);
  }
  
  15% {
    width: var(--min-size);
    height: var(--min-size);
  }
  
  50% {
    width: var(--max-size);
    height: var(--max-size);
  }
}